@use "../../assets/styles/scss/variables" as *;
@use "../../assets/styles/scss/mixins" as *;

header {
  background-color: $color-primary;
  color: #ffffff;

  nav {
    @include container;
    @include flex-center-row;
    justify-content: space-between;

    .logo {
      @include flex-center-row;
      gap: 0.5rem;

      img {
        height: 40px;
      }

      span {
        font-family: $font-titles;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      margin: 0;
      padding: 0;

      a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
