@use "../../assets/styles/scss/variables" as *;
@use "../../assets/styles/scss/mixins" as *;

.bottomfixed {

    footer {
        background-color: $color-black;
        color: #ffffff;

        .footer-inner {
            @include container;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
        }

        @include tablet {
            .footer-inner {
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
                align-items: center;
            }
        }
    }
}
